<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-cliente">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding-top: 25px;
      }
      .btn-success{
        margin: 1em 1em;
        cursor: pointer;
      }
      .titletab{
        padding: 20px 0 2px 0;
        color: steelblue;
      }
      .containerApp{
        width: 94%;
        display: block;
        margin: 0 auto;
        background: white;
        border-radius: 10px;
        box-shadow: 5px 5px rgba(74, 71, 71, 0.2), -5px 5px rgba(74, 71, 71, 0.2);
        height: 92vh;
        padding: 0 10px 10px 10px;
      }
      .breadcrumb{
        margin-left: 12px;
        margin-bottom: 20px;
      }
      .headerTable{
        font-weight: bold;
        color: steelblue;
        height: 6vh;
      }
      .actionsrow iron-icon:hover{
        cursor: pointer;
      }
      .containerInput {
          flex: 100%;
          display: flex;
          margin: 0.5% 0;
      }
      .containerSend {
          flex: 100%;
          display: flex;
          margin: 0.5% 0;
          justify-content: flex-end;
      }
      .containerSend button{
        width: 30%;
        margin-top: 20px;
      }
      .containerSend button:hover{
        cursor: pointer;
      }
      .containerInput label{
        flex: 30%;
      }
      .containerInput input{
        flex: 55%;
      }
      .containerForm {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70%;
      }
      form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid rgba(71,71,71, 0.2);
        box-shadow: 5px 5px rgba(71,71,71, 0.2);
        color: steelblue;
      }
      .mytable{
        color: #71787d;
        background: white!important;
        width: 90%;
        border-radius: 10px;
        margin-top: 20px;
      }

      .containerTable{
        overflow-y: scroll;
        height: 70vh;
      }
      .mytable tbody tr{
        height: 40px;
      }
      .mytable tbody tr:nth-child(even){
        background-color: #f2f2f2;
      }


    </style>


    <div class="containerApp">
      <div class="row">
        <h4 class="col-lg-12 col-xs-12 titletab">Alta cliente</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" on-click="goHome"><a href="#"><iron-icon icon="icons:home"></iron-icon> Home
            </a></li>
            <li class="breadcrumb-item" on-click="goClientes"><a href="#"><iron-icon icon="icons:credit-card"></iron-icon> Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page"><iron-icon icon="icons:list"></iron-icon>Alta</li>
          </ol>
        </nav>
      </div>

      <div class="containerForm">
        <form class="myform">
            <div class="containerInput">
              <label>Nombre :</label>
              <input type="text" class="form-control" id="nombre"  placeholder="Nombre">
            </div>
            <div class="containerInput">
              <label>Apellido paterno :</label>
              <input type="text" class="form-control" id="apePaterno"  placeholder="Apellido paterno">
            </div>
            <div class="containerInput">
              <label>Apellido materno :</label>
              <input type="text" class="form-control" id="apeMaterno"  placeholder="Apellido materno" >
            </div>
            <div class="containerInput">
              <label>Fecha de nacimiento :</label>
              <input type="calendar" class="form-control" id="fechaNacimiento"  placeholder="Fecha nacimiento">
            </div>
            <div class="containerInput">
              <label>Celular :</label>
              <input type="text" class="form-control" id="celular"  placeholder="celular" >
            </div>
            <div class="containerSend">
              <button on-click="actualizaCliente" class="btn btn-primary">GUARDAR</button>
            </div>

        </form>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCliente extends Polymer.Element {
      static get is() { return 'alta-cliente'; }
      static get properties() {
        return {
          clientesObtenidos:{
            type: Array,
            notify:true
          },
          users:{
            type: Array,
            value: function(){
              return [{id:1, name: "Elena"}, {id:2, name: "Alonso"}]
            }
          },
          page: {
            type: String,
            reflectToAttribute: true,
            notify: true
          },
          hideEdicion: {
            type: Boolean,
            value: true
          },
          idEditar:{
            type: String
          },
          clienteActual:{
            type: Object,
            value: ""
          }
        };
      }


      ready(){
        super.ready();
        console.log("ready ejecutado");
      }


      /*Metodos para pintar clientes*/
      //var clientesObtenidos;

      insertarCliente(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"customerID": "12345", "ContactName": "Pepe", "CompanyName": "Pepes Lords"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

      goHome(){
        console.log("go home");
        this.set("page", "home-app");
      }

      goClientes(){
        console.log("go clientes");
        this.set("page", "gestor-clientes");
        //volver a llamar a clientes para ver cambios
      }

      editarCliente(e){
        console.log("editar", e.target.getAttribute("dataitem"));

        this.set("idEditar",e.target.getAttribute("dataitem"));
        this.obtenerCliente(this.idEditar);
      }

      actualizaCliente(e){
        e.preventDefault();
        let nombre = this.$.nombre.value;
        let apePaterno = this.$.apePaterno.value;
        let apeMaterno = this.$.apeMaterno.value;
        let fechaNacimiento = this.$.fechaNacimiento.value;
        let celular = this.$.celular.value;

        console.log("guardar ", nombre);
      }

    }

    window.customElements.define(AltaCliente.is, AltaCliente);
  </script>
</dom-module>
