<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

Access-Control-Allow-Origin:*

<dom-module id="gestor-usuarios">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding-top: 14px;
      }
      .btn-success{
        margin: 1em 1em;
        cursor: pointer;
      }
      .titletab{
        padding: 20px 0 2px 0;
        color: steelblue;
      }
      .containerApp{
        width: 95%;
        display: block;
        margin: 0 auto;
        background: white;
        border-radius: 10px;
        box-shadow: 5px 5px rgba(74, 71, 71, 0.2), -5px 5px rgba(74, 71, 71, 0.2);
        height: 92vh;
        padding: 0 10px 10px 10px;
      }
      .breadcrumb{
        margin-left: 12px;
        margin-bottom: 20px;
      }
      .headerTable{
        font-weight: bold;
        color: steelblue;
        height: 6vh;
      }
      .actionsrow iron-icon:hover{
        cursor: pointer;
      }
      .containerInput {
          flex: 100%;
          display: flex;
          margin: 0.5% 0;
      }
      .containerSend {
          flex: 100%;
          display: flex;
          margin: 0.5% 0;
          justify-content: center;
      }
      .containerSend button{
        width: 30%;
        margin-top: 20px;
      }
      .containerSend button:hover{
        cursor: pointer;
      }
      .containerInput label{
        flex: 30%;
      }
      .containerInput input{
        flex: 55%;
      }
      .containerForm {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70%;
      }
      form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid rgba(71,71,71, 0.2);
        box-shadow: 5px 5px rgba(71,71,71, 0.2);
        color: steelblue;
      }
      .mytable{
        color: #71787d;
        background: white!important;
        width: 90%;
        border-radius: 10px;
        margin-top: 20px;
      }
      .mytable tbody tr:hover, .mytable tbody tr:nth-child(even):hover{
        background: #c5dbee;
      }

      .containerTable{
        overflow-y: scroll;
        height: 70vh;
      }
      .mytable tbody tr{
        height: 40px;
      }
      .mytable tbody tr:nth-child(even){
        background-color: #f2f2f2;
      }
      /*Modal*/
      /* The Modal (background) */
      .modal {
       display: none; /* Hidden by default */
       position: fixed; /* Stay in place */
       z-index: 1; /* Sit on top */
       left: 0;
       top: 0;
       width: 100%; /* Full width */
       height: 100%; /* Full height */
       overflow: auto; /* Enable scroll if needed */
       background-color: rgb(0,0,0); /* Fallback color */
       background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content/Box */
      .modal-content {
       background-color: #fefefe;
       margin: 15% auto; /* 15% from the top and centered */
       padding: 20px;
       border: 1px solid #888;
       width: 26%;
       border-radius: 10px!important;
       border: none!important;
      }

      /* The Close Button */
      .close {
        font-size: 1.5rem;
       font-weight: 700;
       line-height: 1;
       color: #797171;
       text-shadow: 0 1px 0 #fff;
       opacity: .5;
       margin-left: 96%;
      margin-top: -15px;
      }

      .close:hover,
      .close:focus {
       color: black;
       text-decoration: none;
       cursor: pointer;
      }
      .modalMsj{
        text-align: center;
        color: steelblue;
      }
      .modalButtons{
        text-align: center;
        padding-top: 20px;
      }
      .modalButtons button{
        width: 48%;
        height: 40px;
        border: none;
        border-radius: 5px;
      }
      .modalButtons button.cancel{
        color: #aaa4a4;
      }
      .modalButtons button.cancel:hover{
        cursor:pointer;
        background: #aaa4a4;
        color:white;
      }
      .modalButtons button.accept{
        color: steelblue;
      }
      .modalButtons button.onlyaccept{
        width: 80%!important;
      }
      .modalButtons button.accept:hover{
        cursor: pointer;
        background: steelblue;
        color: white;
      }
      .delete{
        display: block;
        width: 90px;
        height: 90px;
        margin-left: 35%;
        color: #f47b66;
      }
      .success{
        display: block;
        width: 90px;
        height: 90px;
        margin-left: 35%;
        color: #60b960;
      }
      .deleteSmall{
        color: #f47b66;
      }
      .editSmall{
        color: #468ac6;
      }
      .editSmall:hover{
        cursor: pointer;
      }
      #myModalMsj{
        text-align: center;
      }
      .iconView{
        padding-left: 45px;
      }
      .tdPass{
        overflow: hidden;
        text-overflow: ellipsis;
        line-break: anywhere;
        max-width: 700px;
        display: block ruby;
      }
      .viewpass{
        width: 15px;
        height: 15px;
        position: absolute;
        margin-left: 8.5%;
        top: 51%;
      }

    </style>


    <div class="containerApp" hidden$={{!hideEdicion}}>
      <div class="row">
        <h4 class="col-lg-12 col-xs-12 titletab">Listado de usuarios</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" on-click="goHome"><a href="#"><iron-icon icon="icons:home"></iron-icon> Home
            </a></li>
            <li class="breadcrumb-item active"><iron-icon icon="icons:credit-card"></iron-icon> Usuarios</li>
            <li class="breadcrumb-item active" aria-current="page"><iron-icon icon="icons:list"></iron-icon>Listado</li>

          </ol>
        </nav>
      </div>

      <div class="containerTable">
        <table class="mytable col-lg-12 col-xs-12">
          <thead class="headerTable">
            <tr>
              <td>Correo electronico</td>
              <td>Password</td>
              <td>Accion</td>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{usuariosObtenidos}}" index-as="index">
              <tr>
                <td>{{item.email}}</td>
                <td class="tdPass">{{item.password}}</td>
                <td class="actionsrow">
                  <iron-icon dataitem$="[[item._id.$oid]]" icon="icons:create" on-click="goEditar" class="editSmall"></iron-icon>
                  <iron-icon dataitem$="[[item._id.$oid]]" icon="icons:delete" on-click="goEliminar" class="deleteSmall"></iron-icon>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

    </div>


    <div class="containerApp" hidden$={{hideEdicion}}>
      <div class="row">
        <h4 class="col-lg-12 col-xs-12 titletab">[[titleForm]] Usuario</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" on-click="goHome"><a href="#"><iron-icon icon="icons:home"></iron-icon> Home
            </a></li>
            <li class="breadcrumb-item" on-click="goUsuarios"><a href="#"><iron-icon icon="icons:credit-card"></iron-icon> Usuarios</a></li>
            <li class="breadcrumb-item active" aria-current="page"><iron-icon icon="icons:list"></iron-icon>[[titleForm]]</li>
          </ol>
        </nav>
      </div>

      <div class="containerForm">
        <form class="myform">
            <div class="containerInput">
              <label>Email :</label>
              <input type="email" class="form-control" id="email"  placeholder="Email" value="[[usuarioActual.email]]">
            </div>
            <div class="containerInput">
              <label>Password :</label>
              <input type="password" class="form-control" id="password"  placeholder="Password" value="[[usuarioActual.password]]">
              <input type="checkbox" class="viewpass" on-click="viewPassword" title="ver password"/>
            </div>
            <div class="containerSend">
              <button on-click="gestionarUsuario" class="btn btn-primary">GUARDAR</button>
            </div>

        </form>
      </div>
    </div>


    <div id="myModalDelete" class="modal">
     <div class="modal-content">
       <span id="closeModal" on-click="closeModalDelete" class="close">&times;</span>

       <p class="modalMsj">
         <iron-icon icon="icons:delete-forever" class="delete"></iron-icon>
           ¿Esta seguro de eliminar el registro?
       </p>

       <div class="modalButtons">
         <button on-click="closeModalDelete" class="cancel">CANCELAR</button>
         <button on-click="borrarUsuario" class="accept">ACEPTAR</button>
       </div>

     </div>
    </div>


    <div id="myModalUpdate" class="modal">
     <div class="modal-content">
       <span id="closeModal" on-click="closeModalUpdate" class="close">&times;</span>

       <p class="modalMsj">
         <iron-icon icon="icons:delete-forever" class="update"></iron-icon>
         ¿Esta seguro de actualizar el registro?
       </p>

       <div class="modalButtons">
         <button on-click="closeModalUpdate" class="cancel">CANCELAR</button>
         <button on-click="updateClient" class="accept">ACEPTAR</button>
       </div>

     </div>
    </div>

    <div id="myModalSuccess" class="modal">
     <div class="modal-content">
       <span id="closeModal" on-click="closeModalSuccess" class="close">&times;</span>

       <p class="modalMsj">
         <iron-icon icon="icons:check-circle" class="success"></iron-icon>
         <p id="myModalMsj"></p>
       </p>

       <div class="modalButtons">
         <button on-click="closeModalSuccess" class="accept onlyaccept">ACEPTAR</button>
       </div>

     </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorUsuarios extends Polymer.Element {
      static get is() { return 'gestor-usuarios'; }
      static get properties() {
        return {
          usuariosObtenidos:{
            type: Array,
            notify:true
          },
          users:{
            type: Array,
            value: function(){
              return [{id:1, name: "Elena"}, {id:2, name: "Alonso"}]
            }
          },
          page: {
            type: String,
            reflectToAttribute: true,
            notify: true
          },
          hideEdicion: {
            type: Boolean,
            value: true,
            notify: true,
            reflectToAttribute: true
          },
          idEditar:{
            type: String
          },
          idEliminar:{
            type: String
          },
          usuarioActual:{
            type: Object,
            value: ""
          },
          titleForm:{
            type: String,
            notify: true,
            reflectToAttribute: true,
          }
        };
      }


      ready(){
        super.ready();
        console.log("ready ejecutado");
        this.obtenerUsuarios();
      }


      /*Metodos para pintar clientes*/
      //var clientesObtenidos;

      obtenerUsuarios() {
        console.log("get usuarios");

         var request = new XMLHttpRequest();
         var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";


         //request.open("GET", url, false);
         request.open("GET", "http://localhost:3000/Usuarios", false);
         //request.setRequestHeader("Accept", "application/json");

         request.send();
         //this.clientesObtenidos = JSON.parse(request.responseText).value;
         this.usuariosObtenidos = JSON.parse(request.responseText);
         console.log(this.usuariosObtenidos);
      }



      obtenerUsuario(id) {
        console.log("get usuario");

         var request = new XMLHttpRequest();

         request.open("GET", "http://localhost:3000/Usuarios/"+id, false);

         request.send();
         this.usuarioActual = JSON.parse(request.responseText);
         console.log(this.usuarioActual);
         console.log(this.usuarioActual.nombre);

      }

      insertarUsuario(email, password){
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/Usuarios", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoUsuario = {"email": email,"password": password};
        var body = JSON.stringify(nuevoUsuario);

        request.send(body);
        this.respuesta = request.responseText;

        this.$.email.value = "";
        this.$.password.value = "";
        this.openModalSuccess(this.respuesta);
      }

      actualizarUsuario(id, email, password){
        var request = new XMLHttpRequest();
        request.open("PUT", "http://localhost:3000/Usuarios/"+id , false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var actualizaUsuario = {"email": email,"password": password};
        var body = JSON.stringify(actualizaUsuario);

        request.send(body);
        this.respuesta = request.responseText;
        this.openModalSuccess(this.respuesta);
      }

      borrarUsuario(){
        console.log("eliminar", this.idEliminar);

        var request = new XMLHttpRequest();
        request.open("DELETE", "http://localhost:3000/Usuarios/"+this.idEliminar, false);
        request.send();
        this.closeModalDelete();

        this.respuesta = request.responseText;
        this.openModalSuccess(this.respuesta);
        console.log(this.respuesta);
      }


      goHome(){
        console.log("go home");
        this.set("page", "home-app");
        this.set("hideEdicion", true);
        this.set("titleForm", "");
        this.set("usuarioActual", "");
      }

      goUsuarios(){
        console.log("go usuarios");
        //this.set("page", "gestor-clientes");
        this.obtenerUsuarios();

        this.set("hideEdicion", true);
        this.set("titleForm", "");
        this.set("usuarioActual", "");
        //volver a llamar a clientes para ver cambios
      }

      goEditar(e){
        console.log("editar", e.target.getAttribute("dataitem"));

        this.set("hideEdicion", false);
        this.set("idEditar",e.target.getAttribute("dataitem"));
        this.set("titleForm", "Editar");
        this.obtenerUsuario(this.idEditar);
      }

      goEliminar(e){
        console.log("eliminar", e.target.getAttribute("dataitem"));
        this.set("idEliminar",e.target.getAttribute("dataitem"));
        var modal = this.$.myModalDelete;
        modal.style.display = "block";
      }

      gestionarUsuario(e){
        e.preventDefault();
        let id = this.idEditar;
        let titleForm = this.titleForm;
        let email = this.$.email.value;
        let password = this.$.password.value;

        switch(titleForm){
          case "Editar":
            this.actualizarUsuario(id, email, password);
          break;
          case "Alta":
            this.insertarUsuario(email, password);
          break;
        }

        console.log("id ", id);
        console.log("titleForm ", titleForm);
      }

      closeModalDelete(){
        var modal = this.$.myModalDelete;
        modal.style.display = "none";
      }

      openModalSuccess(msj){
        var modal = this.$.myModalSuccess;
        var myModalMsj = this.$.myModalMsj;
        myModalMsj.innerText = msj;
        modal.style.display = "block";
      }

      closeModalSuccess(){
        var modal = this.$.myModalSuccess;

        switch (this.titleForm) {
          case "Alta":
            modal.style.display = "none";
          break;
          case "Editar":
            modal.style.display = "none";
          default:
              modal.style.display = "none";
              this.obtenerUsuarios();
        }
      }

      viewPassword(e){
        var inputPass = this.$.password;

        console.log(e.target.checked);
        if(e.target.checked == true){
          inputPass.type = "text";
        }else{
          inputPass.type = "password";
        }
      }

    }

    window.customElements.define(GestorUsuarios.is, GestorUsuarios);
  </script>
</dom-module>
