<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

Access-Control-Allow-Origin:*

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding-top: 14px;
      }
      .btn-success{
        margin: 1em 1em;
        cursor: pointer;
      }
      .titletab{
        padding: 20px 0 2px 0;
        color: steelblue;
      }
      .containerApp{
        width: 95%;
        display: block;
        margin: 0 auto;
        background: white;
        border-radius: 10px;
        box-shadow: 5px 5px rgba(74, 71, 71, 0.2), -5px 5px rgba(74, 71, 71, 0.2);
        height: 92vh;
        padding: 0 10px 10px 10px;
      }
      .breadcrumb{
        margin-left: 12px;
        margin-bottom: 20px;
      }
      .headerTable{
        font-weight: bold;
        color: steelblue;
        height: 6vh;
      }
      .actionsrow iron-icon:hover{
        cursor: pointer;
      }
      .containerInput {
          flex: 100%;
          display: flex;
          margin: 0.5% 0;
      }
      .containerSend {
          flex: 100%;
          display: flex;
          margin: 0.5% 0;
          justify-content: center;
      }
      .containerSend button{
        width: 30%;
        margin-top: 20px;
      }
      .containerSend button:hover{
        cursor: pointer;
      }
      .containerInput label{
        flex: 30%;
      }
      .containerInput input{
        flex: 55%;
      }
      .containerForm {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70%;
      }
      form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid rgba(71,71,71, 0.2);
        box-shadow: 5px 5px rgba(71,71,71, 0.2);
        color: steelblue;
      }
      .mytable{
        color: #71787d;
        background: white!important;
        width: 90%;
        border-radius: 10px;
        margin-top: 20px;
      }
      .mytable tbody tr:hover, .mytable tbody tr:nth-child(even):hover{
        background: #c5dbee;
      }

      .containerTable{
        overflow-y: scroll;
        height: 70vh;
      }
      .mytable tbody tr{
        height: 40px;
      }
      .mytable tbody tr:nth-child(even){
        background-color: #f2f2f2;
      }
      /*Modal*/
      /* The Modal (background) */
      .modal {
       display: none; /* Hidden by default */
       position: fixed; /* Stay in place */
       z-index: 1; /* Sit on top */
       left: 0;
       top: 0;
       width: 100%; /* Full width */
       height: 100%; /* Full height */
       overflow: auto; /* Enable scroll if needed */
       background-color: rgb(0,0,0); /* Fallback color */
       background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content/Box */
      .modal-content {
       background-color: #fefefe;
       margin: 15% auto; /* 15% from the top and centered */
       padding: 20px;
       border: 1px solid #888;
       width: 26%;
       border-radius: 10px!important;
       border: none!important;
      }

      /* The Close Button */
      .close {
        font-size: 1.5rem;
       font-weight: 700;
       line-height: 1;
       color: #797171;
       text-shadow: 0 1px 0 #fff;
       opacity: .5;
       margin-left: 96%;
      margin-top: -15px;
      }

      .close:hover,
      .close:focus {
       color: black;
       text-decoration: none;
       cursor: pointer;
      }
      .modalMsj{
        text-align: center;
        color: steelblue;
      }
      .modalButtons{
        text-align: center;
        padding-top: 20px;
      }
      .modalButtons button{
        width: 48%;
        height: 40px;
        border: none;
        border-radius: 5px;
      }
      .modalButtons button.cancel{
        color: #aaa4a4;
      }
      .modalButtons button.cancel:hover{
        cursor:pointer;
        background: #aaa4a4;
        color:white;
      }
      .modalButtons button.accept{
        color: steelblue;
      }
      .modalButtons button.onlyaccept{
        width: 80%!important;
      }
      .modalButtons button.accept:hover{
        cursor: pointer;
        background: steelblue;
        color: white;
      }
      .delete{
        display: block;
        width: 90px;
        height: 90px;
        margin-left: 35%;
        color: #f47b66;
      }
      .success{
        display: block;
        width: 90px;
        height: 90px;
        margin-left: 35%;
        color: #60b960;
      }
      .deleteSmall{
        color: #f47b66;
      }
      .editSmall{
        color: #468ac6;
      }
      .editSmall:hover{
        cursor: pointer;
      }
      #myModalMsj{
        text-align: center;
      }
      .iconView{
        padding-left: 45px;
      }
      .tipoCambio{
        font-size: 14px;
        position: absolute;
        right: 30px;
        top: 22px;
        padding: 5px;
        border: 1px dashed steelblue;
      }
      .mxn{
        color: green;
      }
      .dls{
        color: tomato;
      }


    </style>


    <div class="containerApp" hidden$={{!hideEdicion}}>
      <div class="row">
        <h4 class="col-lg-12 col-xs-12 titletab">Listado de clientes <span class="tipoCambio">Tipo de cambio:<span class="mxn">1 MXN</span> = <span class="dls">[[tipoDeCambio]] USD</span></span></h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" on-click="goHome"><a href="#"><iron-icon icon="icons:home"></iron-icon> Home
            </a></li>
            <li class="breadcrumb-item active"><iron-icon icon="icons:credit-card"></iron-icon> Clientes</li>
            <li class="breadcrumb-item active" aria-current="page"><iron-icon icon="icons:list"></iron-icon>Listado</li>

          </ol>
        </nav>
      </div>

      <div class="containerTable">
        <table class="mytable col-lg-12 col-xs-12">
          <thead class="headerTable">
            <tr>
              <td>Operaciones</td>
              <td>Nombre</td>
              <td>Apellido paterno</td>
              <td>Apellido materno</td>
              <td>Fecha de nacimiento</td>
              <td>Celular</td>
              <td>Accion</td>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientesObtenidos}}" index-as="index">
              <tr>
                <td class="iconView">
                  <iron-icon dataitem$="[[item._id.$oid]]" icon="icons:visibility" on-click="verMovimientos" class="editSmall">
                  </iron-icon>
                </td>
                <td>{{item.nombre}}</td>
                <td>{{item.apePaterno}}</td>
                <td>{{item.apeMaterno}}</td>
                <td>{{item.fechaNacimiento}}</td>
                <td>{{item.celular}}</td>
                <td class="actionsrow">
                  <iron-icon dataitem$="[[item._id.$oid]]" icon="icons:create" on-click="goEditar" class="editSmall"></iron-icon>
                  <iron-icon dataitem$="[[item._id.$oid]]" icon="icons:delete" on-click="goEliminar" class="deleteSmall"></iron-icon>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

    </div>


    <div class="containerApp" hidden$={{hideEdicion}}>
      <div class="row">
        <h4 class="col-lg-12 col-xs-12 titletab">[[titleForm]] Cliente</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" on-click="goHome"><a href="#"><iron-icon icon="icons:home"></iron-icon> Home
            </a></li>
            <li class="breadcrumb-item" on-click="goClientes"><a href="#"><iron-icon icon="icons:credit-card"></iron-icon> Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page"><iron-icon icon="icons:list"></iron-icon>[[titleForm]]</li>
          </ol>
        </nav>
      </div>

      <div class="containerForm">
        <form class="myform">
            <div class="containerInput">
              <label>Nombre :</label>
              <input type="text" class="form-control" id="nombre"  placeholder="Nombre" value="[[clienteActual.nombre]]">
            </div>
            <div class="containerInput">
              <label>Apellido paterno :</label>
              <input type="text" class="form-control" id="apePaterno"  placeholder="Apellido paterno" value="[[clienteActual.apePaterno]]">
            </div>
            <div class="containerInput">
              <label>Apellido materno :</label>
              <input type="text" class="form-control" id="apeMaterno"  placeholder="Apellido materno" value="[[clienteActual.apeMaterno]]">
            </div>
            <div class="containerInput">
              <label>Fecha de nacimiento :</label>
              <input type="calendar" class="form-control" id="fechaNacimiento"  placeholder="Fecha nacimiento" value="[[clienteActual.fechaNacimiento]]">
            </div>
            <div class="containerInput">
              <label>Celular :</label>
              <input type="text" class="form-control" id="celular"  placeholder="celular" value="[[clienteActual.celular]]">
            </div>
            <div class="containerSend">
              <button on-click="gestionarCliente" class="btn btn-primary">GUARDAR</button>
            </div>

        </form>
      </div>
    </div>


    <div id="myModalDelete" class="modal">
     <div class="modal-content">
       <span id="closeModal" on-click="closeModalDelete" class="close">&times;</span>

       <p class="modalMsj">
         <iron-icon icon="icons:delete-forever" class="delete"></iron-icon>
           ¿Esta seguro de eliminar el registro?
       </p>

       <div class="modalButtons">
         <button on-click="closeModalDelete" class="cancel">CANCELAR</button>
         <button on-click="borrarCliente" class="accept">ACEPTAR</button>
       </div>

     </div>
    </div>


    <div id="myModalUpdate" class="modal">
     <div class="modal-content">
       <span id="closeModal" on-click="closeModalUpdate" class="close">&times;</span>

       <p class="modalMsj">
         <iron-icon icon="icons:delete-forever" class="update"></iron-icon>
         ¿Esta seguro de actualizar el registro?
       </p>

       <div class="modalButtons">
         <button on-click="closeModalUpdate" class="cancel">CANCELAR</button>
         <button on-click="updateClient" class="accept">ACEPTAR</button>
       </div>

     </div>
    </div>

    <div id="myModalSuccess" class="modal">
     <div class="modal-content">
       <span id="closeModal" on-click="closeModalSuccess" class="close">&times;</span>

       <p class="modalMsj">
         <iron-icon icon="icons:check-circle" class="success"></iron-icon>
         <p id="myModalMsj"></p>
       </p>

       <div class="modalButtons">
         <button on-click="closeModalSuccess" class="accept onlyaccept">ACEPTAR</button>
       </div>

     </div>
    </div>

    <div id="myModalMovements" class="modal">
     <div class="modal-content" style="width:50%;">
       <span>Operaciones del cliente</span>
       <span id="closeModal" on-click="closeModalMovements" class="close" style="margin-left:90%;margin-top:-29px;">&times;</span>

         <div class="containerTable" style="height: 30vh;margin-top:5px;">
           <table class="mytable col-lg-12 col-xs-12">
             <thead class="headerTable">
               <tr>
                 <td>Tipo de operacion</td>
                 <td>Importe</td>
                 <td>Fecha</td>
               </tr>
             </thead>
             <tbody>
               <template is="dom-repeat" items="{{clienteActual.listado}}" index-as="index">
                 <tr>
                   <td>{{item.categoria}}</td>
                   <td>{{item.importe}}</td>
                   <td>{{item.fecha}}</td>
                 </tr>
               </template>
             </tbody>
           </table>
         </div>
     </div>
    </div>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientesObtenidos:{
            type: Array,
            notify:true
          },
          users:{
            type: Array,
            value: function(){
              return [{id:1, name: "Elena"}, {id:2, name: "Alonso"}]
            }
          },
          page: {
            type: String,
            reflectToAttribute: true,
            notify: true
          },
          hideEdicion: {
            type: Boolean,
            value: true,
            notify: true,
            reflectToAttribute: true
          },
          idEditar:{
            type: String
          },
          idEliminar:{
            type: String
          },
          clienteActual:{
            type: Object,
            value: ""
          },
          titleForm:{
            type: String,
            notify: true,
            reflectToAttribute: true,
          },
          tipoDeCambio:{
            type: String,
            value:""
          }
        };
      }


      ready(){
        super.ready();
        console.log("ready ejecutado");
        this.obtenerClientes();
      }


      /*Metodos para pintar clientes*/
      //var clientesObtenidos;

      obtenerClientes() {
        console.log("get clientes");

         var request = new XMLHttpRequest();
         var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";


         //request.open("GET", url, false);
         request.open("GET", "http://localhost:3000/Clientes", false);
         //request.setRequestHeader("Accept", "application/json");

         request.send();
         //this.clientesObtenidos = JSON.parse(request.responseText).value;
         this.clientesObtenidos = JSON.parse(request.responseText);
         console.log(this.clientesObtenidos);

         this.obtenerTipoDeCambio();
      }

      obtenerTipoDeCambio(){
        var request = new XMLHttpRequest();

        request.open("GET", "http://localhost:3000/Cambio", false);

        request.send();
        var respuesta = JSON.parse(request.responseText);
        var tipoCambio = respuesta.bmx.series[0].datos[0].dato;
        //console.log(respuesta.bmx.series[0].datos[0].dato);
        this.set("tipoDeCambio", tipoCambio)


      }

      obtenerCliente(id) {
        console.log("get cliente");

         var request = new XMLHttpRequest();

         request.open("GET", "http://localhost:3000/Clientes/"+id, false);

         request.send();
         this.clienteActual = JSON.parse(request.responseText);
         console.log(this.clienteActual);
         console.log(this.clienteActual.nombre);

      }

      insertarCliente(nombre, apePaterno, apeMaterno, fechaNacimiento, celular){
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/Clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"nombre": nombre,"apePaterno": apePaterno ,"apeMaterno": apeMaterno,
                            "celular": celular, "fechaNacimiento": fechaNacimiento};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText;

        this.$.nombre.value="";
        this.$.apePaterno.value="";
        this.$.apeMaterno.value="";
        this.$.fechaNacimiento.value="";
        this.$.celular.value="";
        this.openModalSuccess(this.respuesta);
      }

      actualizarCliente(id, nombre, apePaterno, apeMaterno, fechaNacimiento, celular){
        var request = new XMLHttpRequest();
        request.open("PUT", "http://localhost:3000/Clientes/"+id , false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var actualizaCliente = {"nombre": nombre,"apePaterno": apePaterno ,"apeMaterno": apeMaterno,
                            "celular": celular, "fechaNacimiento": fechaNacimiento, "listado":this.clienteActual.listado};
        var body = JSON.stringify(actualizaCliente);

        request.send(body);
        this.respuesta = request.responseText;
        this.openModalSuccess(this.respuesta);
      }

      borrarCliente(){
        console.log("eliminar", this.idEliminar);

        var request = new XMLHttpRequest();
        request.open("DELETE", "http://localhost:3000/Clientes/"+this.idEliminar, false);
        request.send();
        this.closeModalDelete();

        this.respuesta = request.responseText;
        this.openModalSuccess(this.respuesta);
        console.log(this.respuesta);
      }

      verMovimientos(e){
        var id= e.target.getAttribute("dataitem");
        console.log("ver movimientos", e.target.getAttribute("dataitem"));
        this.obtenerCliente(id);

        var modal = this.$.myModalMovements;
        modal.style.display = "block";
      }

      closeModalMovements(){
        var modal = this.$.myModalMovements;
        modal.style.display = "none";
      }

      goHome(){
        console.log("go home");
        this.set("page", "home-app");
        this.set("hideEdicion", true);
        this.set("titleForm", "");
        this.set("clienteActual", "");
      }

      goClientes(){
        console.log("go clientes");
        //this.set("page", "gestor-clientes");
        this.obtenerClientes();

        this.set("hideEdicion", true);
        this.set("titleForm", "");
        this.set("clienteActual", "");
        //volver a llamar a clientes para ver cambios
      }

      goEditar(e){
        console.log("editar", e.target.getAttribute("dataitem"));

        this.set("hideEdicion", false);
        this.set("idEditar",e.target.getAttribute("dataitem"));
        this.set("titleForm", "Editar");
        this.obtenerCliente(this.idEditar);
      }

      goEliminar(e){
        console.log("eliminar", e.target.getAttribute("dataitem"));
        this.set("idEliminar",e.target.getAttribute("dataitem"));
        var modal = this.$.myModalDelete;
        modal.style.display = "block";
      }

      gestionarCliente(e){
        e.preventDefault();
        let id = this.idEditar;
        let titleForm = this.titleForm;
        let nombre = this.$.nombre.value;
        let apePaterno = this.$.apePaterno.value;
        let apeMaterno = this.$.apeMaterno.value;
        let fechaNacimiento = this.$.fechaNacimiento.value;
        let celular = this.$.celular.value;

        switch(titleForm){
          case "Editar":
            this.actualizarCliente(id, nombre, apePaterno, apeMaterno, fechaNacimiento ,celular);
          break;
          case "Alta":
            this.insertarCliente(nombre, apePaterno, apeMaterno, fechaNacimiento ,celular);
          break;
        }
        console.log("id ", id);
        console.log("titleForm ", titleForm);
        console.log("guardar ", nombre);
      }

      closeModalDelete(){
        var modal = this.$.myModalDelete;
        modal.style.display = "none";
      }

      openModalSuccess(msj){
        var modal = this.$.myModalSuccess;
        var myModalMsj = this.$.myModalMsj;
        myModalMsj.innerText = msj;
        modal.style.display = "block";
      }

      closeModalSuccess(){
        var modal = this.$.myModalSuccess;

        switch (this.titleForm) {
          case "Alta":
            modal.style.display = "none";
          break;
          case "Editar":
            modal.style.display = "none";
          default:
              modal.style.display = "none";
              this.obtenerClientes();
        }
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
