<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

<!--
    <button type="button" name="button" on-click="getClientes">Obtener Clientes</button>
  -->

    <div class="container">
      <div class="row">
        <img class="col-lg-8 colo-xs-12" src="https://image.flaticon.com/icons/svg/174/174848.svg" style="width:200px; height:100px;"/>
      </div>
      <div class="row">
        <button type="button" name="button" class="btn btn-success col-lg-4 col-xs-12">Cargar datos</button>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Elena</td>
              <td>Robles</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Alonso</td>
              <td>Medina</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Alberto</td>
              <td>Guzman</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          clientesObtenidos:{
            type: Array
          },
          users:{
            type: Array,
            value: function(){
              return [{id:1, name: "Elena"}, {id:2, name: "Alonso"}]
            }
          }
        };
      }



      /*Metodos para pintar clientes*/
      //var clientesObtenidos;

      getClientes() {
        console.log("get clientes");
        /*
         var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

         var request = new XMLHttpRequest();

         request.onreadystatechange = function(){

           if(this.readyState == 4 && this.status == 200){
             //console.table(JSON.parse(request.responseText).value);
             clientesObtenidos = request.responseText;
             procesarClientes();
           }
         }

         request.open("GET", url, true);
         request.send();
         */

      }

      procesarClientes(){
        var jsonClientes = JSON.parse(clientesObtenidos).value;
        var divTablaClientes = document.getElementById("divTablaClientes");
        var tabla = document.createElement("table");
        var tbody = document.createElement("tbody");
        var thead = document.createElement("thead");
        var filaHead = document.createElement("tr");
        var nameColumns = ["Nonmre de contacto", "Ciudad", "Bandera"];
        var rutaBandera = "https://www.countries-ofthe-world.com/flags-normal/flag-of-";

        tabla.classList.add("table");
        tabla.classList.add("table-striped");
        thead.classList.add("thead-light");

        for(var i = 0; i < nameColumns.length; i ++){
          var headName = document.createElement("th");
          headName.innerText = nameColumns[i];
          filaHead.appendChild(headName);
        }

        for(var i=0; i < jsonClientes.length; i++){
          var nuevaFila = document.createElement("tr");

          var columnaNombre = document.createElement("td");
          columnaNombre.innerText = jsonClientes[i].ContactName;

          var columnaCiudad = document.createElement("td");
          columnaCiudad.innerText = jsonClientes[i].City;

          var columnaStock = document.createElement("td");
          var imgBandera = document.createElement("img");

          if(jsonClientes[i].Country == "UK"){
            imgBandera.src = rutaBandera + "United-Kingdom.png";
          }else{
            imgBandera.src = rutaBandera + jsonClientes[i].Country + ".png";
          }

          imgBandera.style.width = "50px";
          imgBandera.style.height = "30px";
          columnaStock.innerText = jsonClientes[i].Country;
          columnaStock.appendChild(imgBandera);
          //columnaStock.innerText = jsonClientes[i].Country;

          nuevaFila.appendChild(columnaNombre);
          nuevaFila.appendChild(columnaCiudad);
          nuevaFila.appendChild(columnaStock);

          tbody.appendChild(nuevaFila);
        }

        tabla.appendChild(filaHead);
        tabla.appendChild(tbody);
        divTablaClientes.appendChild(tabla);
      }


    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
