<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin:*

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        font-size: 12px;
        height: 100%;
        padding: 0;
        margin: 0;
      }
      .containerApp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url("/src/static/img/fondoACD.jpg") center no-repeat;
        background-size: 100% 100%;
      }
      .containerApp>div {
        background-color: #f1f1f1;
        color: steelblue;
      }
      .loginbtn{
        cursor: pointer;
        margin-top: 10px;
        width: 100%;
      }
      .msjerror{
        color: tomato;
        padding: 0 0 0 7px;
        margin-left: 35px;
      }
      .form-control{
        font-size: 12.5px!important;
      }
      .viewpass{
        width: 15px;
        height: 15px;
        position: absolute;
        margin-left: 1.5%;
        top: 79%;
      }

    </style>

    <div class="containerApp">
      <div class="card" style="width: 20rem;">
        <img src="src/static/img/bbvalogo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Practitioner</h5>

          <form>
            <div class="form-group">
              <input type="email" class="form-control" value="{{email::input}}" placeholder="Email">
            </div>
            <div class="form-group">
              <input id="password" type="password" class="form-control" value="{{password::input}}" placeholder="Password">
              <input type="checkbox" class="viewpass" on-click="viewPassword" title="ver password"/>
            </div>

            <span class="msjerror" hidden$={{!errorlogin}}>usuario o contraeña incorrectos.</span>
          </form>

          <div class="row" hidden$={{!logeado}}>
            <span>Bienvenido a la App</span>
          </div>

          <button on-click="login" class="btn btn-primary loginbtn">Login</button>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      dataType: "jsonP"
      method = "POST"
      handle-as= "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAjaxResponse"
      on-error = "showError"
      >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String,
          },
          logeado:{
            type: Boolean,
            value: false
          },
          errorlogin:{
            type: Boolean,
            value: false
          },
          page: {
            type: String,
            reflectToAttribute: true,
            notify: true
          }
        };
      }


      login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        };

        console.log(loginData);

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }

      manageAjaxResponse(e){
        console.log("respuesta del servicio APIREST apimx20201ed");
        console.log(e.detail.response);

        this.set("page", "home-app");

        console.log("pagina seteada en login", this.page);
        this.logeado = true;
        this.errorlogin = false;
      }

      showError(error){
        console.log("Hubo un error en Iron-Ajax");
        console.log(error);
        this.errorlogin = true;
        this.logeado = false;
      }

      viewPassword(e){
        var inputPass = this.$.password;

        console.log(e.target.checked);
        if(e.target.checked == true){
          inputPass.type = "text";
        }else{
          inputPass.type = "password";
        }
      }


    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
