<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="home-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        font-size: 12px;
        height: 100%;
        padding: 0;
        margin: 0;
      }
      .containerApp{
        display: flex;
        justify-content: center;
        height: 100vh;
        background: url("/src/static/img/fondoACD.jpg") center no-repeat;
        background-size: 100% 100%;
        flex-wrap: wrap;
        align-content: flex-start;
      }
      .containerApp>div {
        background-color: #f1f1f1;
        color: #6b6b79;
        border-radius: 10px;
        box-shadow: 5px 5px rgba(74, 71, 71, 0.3);
      }
      .homebtn{
        cursor: pointer;
        margin-top: 10px;
        width: 48%;
      }
      .msjerror{
        color: tomato;
        padding: 0 0 0 7px;
      }
      .form-control{
        font-size: 12.5px!important;
      }
      .card{
        width: 17rem;
        margin: 0 3.5rem;
        height: 180px;
      }
      .card-img-top{
        background: steelblue;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .catalogIcon{
        color: white;
        width: 90px;
        height: 90px;
      }
      .card-actions{
        background: #f1f1f1;
        height: 40px;
        display:flex;
      }

      .actions{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .actionCatalog{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .actionCatalog:first-child{
        border-right: 2px solid #d5d5d5;
      }

      .actionCatalog:hover{
        cursor: pointer;
        background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(209,209,209,1) 2%, rgba(219,219,219,1) 22%, rgba(254,254,254,1) 100%);
        color: steelblue;
      }
      .titlecard{
        text-align: center;
        padding: 12px 0;
        text-transform: uppercase;
        color: steelblue;
        font-weight: bold;
      }
      .homeTitle{
        color:steelblue;
        font-size: 1.5rem;
        flex: 100%;
        padding-top: 60px;
        text-align: center;
        padding: 90px 0;
      }
    </style>

    <div class="containerApp">
      <span class="homeTitle">¡Bienvenido practitioner 2020!</span>
      <div class="card">
        <span class="titlecard">Clientes</span>
        <div class="card-img-top">
          <iron-icon icon="icons:account-circle" class="catalogIcon"></iron-icon>
        </div>

        <div class="card-actions">
          <div class="actions">
            <div class="actionCatalog" on-click="verClientes">
              <span>LISTADO</span>
            </div>
            <div class="actionCatalog" on-click="altaCliente">
              <span><iron-icon icon="icons:add-circle"></iron-icon></span>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <span class="titlecard">Usuarios</span>
        <div class="card-img-top">
          <iron-icon icon="icons:account-circle" class="catalogIcon"></iron-icon>
        </div>

        <div class="card-actions">
          <div class="actions">
            <div class="actionCatalog" on-click="verUsuarios">
              <span>LISTADO</span>
            </div>
            <div class="actionCatalog" on-click="altaUsuario">
              <span><iron-icon icon="icons:add-circle"></iron-icon></span>
            </div>
          </div>
        </div>
      </div>



    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HomeApp extends Polymer.Element {
      static get is() { return 'home-app'; }
      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            notify: true
          },
          titleForm: {
            type: String,
            reflectToAttribute: true,
            notify: true
          },
          hideEdicion:{
            type: Boolean,
            value: true,
            reflectToAttribute: true,
            notify: true
          },
          clienteActual:{
            type: Object,
            value: "",
            reflectToAttribute: true,
            notify: true
          }
        };
      }

      verClientes(){
        console.log("ver clientes");
        this.set("page", "gestor-clientes");
      }

      verUsuarios(){
        console.log("ver usuarios");
        this.set("page", "gestor-usuarios");
      }

      altaCliente(){
        console.log("alta cliente");
        this.set("page", "gestor-clientes");
        this.set("titleForm", "Alta");
        this.set("hideEdicion", false);
        this.set("clienteActual", "");
      }

      altaUsuario(){
        console.log("alta usuarios");
        this.set("page", "gestor-usuarios");
        this.set("titleForm", "Alta");
        this.set("hideEdicion", false);
        this.set("clienteActual", "");
      }

    }

    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>
