<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="lazy-import" href="../login-app/login-app.html">
<link rel="lazy-import" href="../gestor-clientes/gestor-clientes.html">
<link rel="lazy-import" href="../gestor-usuarios/gestor-usuarios.html">
<link rel="lazy-import" href="../error-app/error-app.html">
<link rel="lazy-import" href="../home-app/home-app.html">

<dom-module id="inicio-app">
  <template>
    <style>
      :host {
        display: block;
        background: #f4f4f4;
        height: 100vh;
        width: 100%;
        font-family: sans-serif;
      }
    </style>

    <app-location
        route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

      <!-- Main content -->

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="error-app"
            role="main">

          <login-app page="{{page}}" name="login-app"></login-app>
          <home-app cliente-actual="{{clienteActual}}" hide-edicion="{{hideEdicion}}" title-form="{{titleForm}}" page="{{page}}" name="home-app"></home-app>
          <gestor-clientes cliente-actual="{{clienteActual}}" hide-edicion="{{hideEdicion}}" title-form="{{titleForm}}" page="{{page}}" name="gestor-clientes"></gestor-clientes>
          <gestor-usuarios usuario-actual="{{usuarioActual}}" hide-edicion="{{hideEdicion}}" title-form="{{titleForm}}" page="{{page}}" name="gestor-usuarios"></gestor-usuarios>

          <error-app name="error-app"></error-app>
        </iron-pages>

  </template>

  <script>

    class InicioApp extends Polymer.Element {
      static get is() { return 'inicio-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          },
          hideEdicion: {
            type: Boolean,
            reflectToAttribute: true,
            observer: '_hideChanged'
          },
          titleForm: {
            type: String,
            reflectToAttribute: true,
            observer: '_titleChanged'
          },
          clienteActual: {
            type: Object,
            value:""
          },
          usuarioActual: {
            type: Object,
            value:""
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login-app';

      }

      _pageChanged(page) {
        console.log("corre pagechades", page);


        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(Polymer.rootPath+"src/"+page+"/"+page + '.html');

        console.log("resolve", resolvedPageUrl);

        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _hideChanged(){
        console.log("hide changed")
      }

      _titleChanged(){
        console.log("title changed")
      }

      _showPage404() {
        this.page = 'error-app';
      }
    }

    window.customElements.define(InicioApp.is, InicioApp);
  </script>
</dom-module>
